################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RobotSystem/
/BL.RobotSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Common.RobotSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DL.RobotSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/RobotSystem/obj/Debug/
/RobotSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/RobotSystem/obj/Debug/MainWindow.g.cs
/RobotSystem/obj/Debug/MainWindow.g.i.cs
/RobotSystem/obj/Debug/RobotSystem.csproj.AssemblyReference.cache
/RobotSystem/obj/Debug/RobotSystem_MarkupCompile.cache
/RobotSystem/obj/Debug/RobotSystem_MarkupCompile.lref
/.vs/RobotSystem/v17/.suo
/BL.RobotSystem/bin/Debug/BL.RobotSystem.dll
/BL.RobotSystem/bin/Debug/BL.RobotSystem.pdb
/BL.RobotSystem/obj/Debug/BL.RobotSystem.csproj.AssemblyReference.cache
/BL.RobotSystem/obj/Debug/BL.RobotSystem.dll
/BL.RobotSystem/obj/Debug/BL.RobotSystem.csproj.CoreCompileInputs.cache
/BL.RobotSystem/obj/Debug/BL.RobotSystem.pdb
/Common.RobotSystem/bin/Debug/Common.RobotSystem.dll
/Common.RobotSystem/bin/Debug/Common.RobotSystem.pdb
/Common.RobotSystem/obj/Debug/Common.RobotSystem.csproj.CoreCompileInputs.cache
/Common.RobotSystem/obj/Debug/Common.RobotSystem.dll
/Common.RobotSystem/obj/Debug/Common.RobotSystem.pdb
/DL.RobotSystem/bin/Debug/DL.RobotSystem.dll
/DL.RobotSystem/bin/Debug/DL.RobotSystem.pdb
/DL.RobotSystem/obj/Debug/DL.RobotSystem.csproj.AssemblyReference.cache
/DL.RobotSystem/obj/Debug/DL.RobotSystem.csproj.CoreCompileInputs.cache
/DL.RobotSystem/obj/Debug/DL.RobotSystem.dll
/RobotSystem/obj/Debug/RobotSystem.csproj.CoreCompileInputs.cache
/RobotSystem/obj/Debug/RobotSystem.csproj.FileListAbsolute.txt
/RobotSystem/obj/Debug/RobotSystem.csproj.GenerateResource.cache
/RobotSystem/obj/Debug/RobotSystem.csproj.SuggestedBindingRedirects.cache
/RobotSystem/obj/Debug/RobotSystem.exe
/RobotSystem/obj/Debug/RobotSystem.g.resources
/RobotSystem/obj/Debug/RobotSystem.pdb
/RobotSystem/obj/Debug/RobotSystem_MarkupCompile.i.cache
/RobotSystem/obj/Debug/RobotSystem_MarkupCompile.i.lref
